<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Patiekalai</title>
    <meta charset="utf-8">
    		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    		<link rel="stylesheet" href="jqueryui.css">	
		<link rel="stylesheet" href="main.css">		
		<style>
			.anuliuotas, .sanuliuotas {
				background-color: lightblue;
			}
			.ivykdytas, .sivykdytas {
				background-color: lightgreen;
			}
			table {
				border-collapse: colapse;
			}
			th {
				background-color: lightgreen;			
			}
			th, td {
				padding: 6px;
				border: 1px solid grey;
			}
			.ch_lab {
				display: inline-block ! important;
			}
		</style>
	    <script
		src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
		crossorigin="anonymous">
	    </script>
	    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>	    
	    <script src="crud.js"></script>
	    <script>
		$( document ).ready ( function() {

			params = {
			
				fields: [ 'pav', 'savybYraPieno', 'savybYraRiesutai' ]
				, fields_names: [ 'Pavadinimas', 'Yra pieno', 'Yra riešutų' ]
				, url : 'http://localhost:8080/ajax/lst-patiekalai'
				, field_data: ''
				, id_html_saraso: 'patiekalai'
				, id_html_dialog_formos: 'dialogo_forma_pat'
				, dialog_size_x: 400
				, dialog_size_y: 490
				, title_dialog_form: 'Patiekalas'
				, url_save_rec: 'http://localhost:8080/ajax/saugoti-patiekala'
				, url_delete_rec:  'http://localhost:8080/ajax/salinti-patiekala'
				, fields_edit:  [ 'pav', 'savybYraPieno', 'savybYraRiesutai' ]
				, fields_ed_types: [ 'text', 'checkbox', 'checkbox' ]
				, field_name: 'pav'
			}
			
			crud_patiekalu = new crud ( params );
			
			crud_patiekalu.initEmpty();
			crud_patiekalu.refreshData();
			
		});			
	</script>
</head>
<body>
    <nav>
	<a th:each="menu_item : ${lst_menu}" th:href="${menu_item.itemurl()}" th:text="${menu_item}"></a>
    </nav>
<div id="dialogo_forma_pat" class="ui-dialog-content ui-widget-content" style="width: auto; min-height: 0px; max-height: none; height: 359.053px;">
<p class="validateTips">Visi laukeliai turi buti užpildyti.</p><p class="name_item" id="name_item">Naujas Patiekalas</p>
<form action=""><fieldset><label for="pav">Pavadinimas</label><input type="text" name="pav" id="pav" value="" class="text ui-widget-content ui-corner-all">
<input class="ch_lab" type="checkbox" name="savybYraPieno" id="savybYraPieno" value="1"> - <label class="ch_lab" for="savybYraPieno">Yra pieno</label>
<input class="ch_lab" type="checkbox" name="savybYraRiesutai" id="savybYraRiesutai" value="1">- <label class="ch_lab" for="savybYraRiesutai">Yra riešutų</label>
<!-- Allow form submission with keyboard without duplicating the dialog button -->
<input type="submit" tabindex="-1" style="position:absolute; top:-1000px"></fieldset>
<input type="hidden" name="id" id="id_rec" value="0"></form></div>
	<div id="patiekalai">
	</div>
</body>
</html>